/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #272727;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    gap: 10px;
}
.icon{
    width: 80px;
    height: 80px;
}
body {
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;

}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  justify-self: center;
  border-radius: 4px;
  font-weight: 400; 
  display: block;
  width: 120px;
  max-width: 120px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  transition: 1s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  transition: 1s;
}

.cards_item {
  display: flex;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  
  display: grid;
  background-color: #272727;
}

.card_title {
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    gap: 8px;
}
